:root { 
--white: #ffffff; 
--black-1: #202020; 
--primary: #1b90fc; 
--grey: #929292; 
--headline1: 700 2.5rem/normal Roboto Condensed; 
--subtitle1: 700 1.625rem/1.5rem Roboto Condensed; 
--button: 700 0.875rem/1rem Roboto; 
--headline2: 700 1.5rem/normal Roboto Condensed; 
--body1-regular: 400 1rem/1.5rem Roboto; 
--body1-bold: 700 1rem/1.5rem Roboto; 
--body2-bold: 700 0.875rem/1.5rem Roboto; 
--body2-regular: 400 0.875rem/1.5rem Roboto; 
--caption-regular: 400 0.75rem/1.5rem Roboto; 
--caption-bold: 700 0.75rem/1.5rem Roboto; 
 
}

body {
  margin: 0;
  color: var(--white);
} 

/* h1{
  font: var(--headline1);
}

h2{
  font: var(--headline2);
}

h3{
  font: var(--button);
} */

.wrapper {
  max-inline-size: 1664px;
  margin: auto;
}

h1 {
  font: var(--headline1);
  margin-block-end: 8px;
}

p {
  font: var(--body2-regular);
}

img {
  max-inline-size: 100%;
}

button {
  background: var(--primary);
  color: var(--white);
  padding-inline: 32px;
  padding-block: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font: var(--button);
  text-transform: uppercase;
}

.hero-content {
  display: flex;
  block-size: 768px;
  align-items: center;
}

.card {
  max-inline-size: 412px;
  color: var(--white);
  z-index: 2;
}

.card-mobile {
  display: none;
}

.hero {
  background-image: url('../images/loki.png');
  background-repeat: no-repeat;
  background-position: center ;
  background-color: var(--black-1);
  position: relative;
  margin-block-end: 24px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 128px), 0 100%);
}

.hero::before {
  content: '';
  inline-size: 50%;
  display: block;
  background: var(--black-1);
  position: absolute;
  inset-block: 0;
  z-index: 1;
  clip-path: polygon(0 0, calc(100% - 151px) 0, 100% 100%, 0 100%);
}

@media screen and (max-width: 1000px) {

  .hero {
    /* background-image: url('../images/loki.png'); */
    background-position: right;
    clip-path: none;
    margin-block-end: 0;
  }

  .hero::before {
    display: none;
  }

  .card {
    display: none;
  }

  .card-mobile {
    display: flex;
    background-color: var(--black-1);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
  }

  .card-2 {
    padding-block-start: 40px;
    padding-inline: 64px;
    padding-block-end: 120px;
  }

  .card-2 button {
    inline-size: 100%;
  }
 
}

@media screen and (max-width: 600px) {
  .hero {
    background-position: right;
  }

 
}

@media screen and (max-width: 340px) {

  .hero {
    background-image: url('../images/loki-phone.png');
    background-position: right;
  }

  .hero-content {
    block-size: 270px;
  }

  .card-2 {
    padding-block-start: 24px;
    padding-inline: 24px;
    padding-block-end: 80px;
  }
}